body {
    font-family: 'Tajawal', sans-serif;
    background-color: #020617;
    color: #f1f5f9;
}

#toast {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hidden {
    display: none !important;
}

.rotate-180 {
    transform: rotate(180deg);
}

/* تنسيق القوائم المنسدلة ذات التمرير */
select[multiple], select {
    scrollbar-width: thin;
    scrollbar-color: #4f46e5 #020617;
}
